body{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}
h1{
    font-size: 55px;
    color: purple;
    
}
h3{
    color: orange;
    font-size: 30px;
}
p{
    font-size: 16px;
    font-weight: 400;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.topimg{
    background-image:url(../img/top-banner.png);
    width: 100%;
    background-repeat: no-repeat;
    
}
.flot-left{
    width: 50%;
    padding: 40px;
    justify-content: center;
}
.section-img{
    width: 50%;
    padding: 40px;
    justify-content: center;
    text-align: start;
}
.link-button{
    background-image: linear-gradient(#fec357,#cd1ccd);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;

}
.link-button :hover{
    background-color: navajowhite;
    color: black;
}
.contact-btn{
    text-decoration: none;
    color: rgb(31, 31, 238);
}
.contact-btn :hover a{
    color: red;
}